*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to left,rgba(31, 117, 134, 0.2),rgba(218, 17, 47, 0.1));
}
#btn{
    padding: 22px;
    color: rgb(11, 130, 170);
    background: black;
    text-shadow: 0px 0px 8px  rgb(11, 130, 170);
    font-size: 2rem;
    border: none;
    cursor: pointer;
}
  